footer {
  background-color: $footer-background-color;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-container {
  display: flex;
  width: 390px;
  max-width: 100%;
  padding: 0;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 27px 16px 27px 45px;
  justify-content: flex-start;
  
  @media screen and (min-width: $tablet) {
    width:768px;
    height:100%;
    padding: 81px 16px 91px 36px;
    justify-content: flex-start;
  }
  @media screen and (min-width: $laptop) {
    width:952px;
    height:100%;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    justify-content: flex-start;
  }
  @media screen and (min-width: $desktop) {
    width:967px;
    height:100%;
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    //margin: 0;
    justify-content: flex-start;
    
  }
  
}

.footer-map {
  width: 113px;
  height: 127px;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 159px;
    height: 179px;
  }
  @media screen and (min-width: $laptop) {
    width: 302px;
    height: 365px;
  } 
  @media screen and (min-width: $desktop) {
    width: 302px;
    height: 341px;
  } 
    
}

.footer-contact {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
    
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    padding-left: 19px;
    width: 306px;
    height:182px;
    align-items: center;
  }
  @media screen and (min-width: $laptop) {
    width: 306px;
    height: 245px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 346px;

  }
  @media screen and (min-width: $desktop) {
    width: 273px;
    height: 282px;
    flex-direction: column;
    padding-left: 440px;

  }

}
.footer-adress {
  width: 100%;
  height: 100%;
  @media screen and (min-width: $tablet){
    width: 306px;
  }
    
  @media screen and (min-width: $laptop) {
    width: 219px;
    height: 182px;
  } 
  @media screen and (min-width: $desktop) {
    width: 273px;
    height: 182px;
  } 
}

.footer-adress_list {
  //margin: 27px 16px 19px 44px;
  //padding: 27px 16px 19px 44px;
  
  @media screen and (min-width: $tablet) {
    width: 306px;
    height: 182px;
    padding-right: 117px;
    
  }
  @media screen and (min-width: $laptop) {
    padding:0;
  } 
}

.footer-adress_items {
  font-family: 'NotoSerifTC';
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
  color: $footer-text-color;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 2;
    padding-bottom: 16px;
  } 
}

.footer-icons {
  display: flex;
  width: 102px;
  justify-content: space-between;
  padding-top: 19px;
 
    @media screen and (min-width: $tablet) {
      width: 45px;
      height: 147px;
      display: grid;
      row-gap: 57px;      
      padding: 0;
      
    }
    @media screen and (min-width: $laptop) {
      display: flex;
      width: 153px;
      justify-content: space-between;
      padding-top: 56px;
      
    }
    @media screen and (min-width: $laptop) {
      display: flex;
      width: 138px;
      justify-content: space-between;
      padding-top: 58px;
      
    }
}

.footer-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 45px;
    height: 45px;    
   
  }
}

.footer-icon:hover{
  fill: $form-background-color;
}
.footer-icon:disabled{
  fill: $icon-disable;
}

.footer-icon_items {
  width: 25px;
  height: 25px;
  fill: $current-color;
  
  @media screen and (min-width: $tablet) {
    width: 45px;
    height: 45px;    
   
  }
  @media screen and (min-width: $laptop) {
    width: 45px;
    height: 45px;
    
  } 
}

