// Remove button inside input type="number" for all type of browser
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.send-form {
  background-color: $form-background-color;
  @media screen and (min-width: $laptop) {
    background-color: transparent;
  }
}

.wrapper {
  border-radius: 4px;
  padding: 13px 9px 24px;

  position: relative;
  @media screen and (min-width: $tablet) {
    padding: 20px 0 24px 23px;
  }
  @media screen and (min-width: $laptop) {
    background-color: $form-background-color;
    padding: 24px 98px 24px 175px;
  }
  @media screen and (min-width: $desktop) {
    background-color: $form-background-color;
    padding-left: 351px;
    padding-right: 311px;
  }
}

.form-title {
  margin-bottom: 21px;
  font-family: 'MabryPro';
  font-weight: 500;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
    text-align: right;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 15px;
  }
  @media screen and (min-width: $laptop) {
    text-align: left;
    letter-spacing: 29px;
  }
}
.box {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.form-box {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 411px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 14px;
  line-height: 2.28;
  border-bottom: 1px solid #e2e001;
  text-indent: 10px;
  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: $tablet) {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

.form-input {
  background-color: transparent;
  outline: none;
  font-size: 14px;
  line-height: 2.28;
  font-family: 'NotoSerifTC';
  padding-left: 10px;
  // width: 200px;
}

.form-error-message {
  padding-left: 10px;
  font-weight: 300;
  font-size: 10px;
  line-height: 2.4;
  color: #ed1332;
  text-align: right;
}

.form-note {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 10px;
  line-height: 2.4;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 4px;
  }
}

.form-btn {
  margin: 0 auto;
  width: 273px;
  height: 37px;
  font-size: 16px;
  font-family: 'NotoSerifTC';
  background-color: #e2e001;
  border-radius: 2px;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 167px;
    height: 48px;
    margin: 0;
  }
}

.form-img {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}
.form-picture {
  display: block;
  @media screen and (min-width: $tablet) {
    width: 222px;
    height: 167px;
  }
  @media screen and (min-width: $laptop) {
    width: 422px;
    height: 316px;
  }
}

/**
  FORM MODAL----------------------------------------------------------------------
*/

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  background-color: $form-background-color;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 348px;
  height: 407px;
  transform: translate(-50%, -50%);

  @media screen and (min-width: $tablet) {
    width: 703px;
    height: 404px;
  }
  @media screen and (min-width: $laptop) {
    width: 1150px;
    height: 406px;
  }
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: inherit;
  height: inherit;
}
.icon-wrapper {
  width: 24px;
  height: 24px;
  background-color: transparent;

  position: absolute;
  top: 12px;
  right: 24px;
}

.from-modal-text {
  padding: 0 30px;
  font-family: 'MabryPro';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 1.5px;

  // display: flex;
  // align-items: center;
  text-align: center;
}

.form-icon-close {
  cursor: pointer;
}

.form-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.icon-error {
  fill: #e2574c;
}

/**
  Spiner----------------------------------------------------------------------
*/

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // z-index: 1001;
}

.preloader__image {
  color: $current-color;
  width: 70px;
  height: 70px;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
