// $mobileMax: 767.98px;
// $tablet: 768px;
// $tabletMax: 1439.98px;
// $laptop: 1440px
// $laptopMax: 1439.98px
// $desktop: 1920px;

// $current-color: #e2e001;
// $primary-text-color: #24282b;
// $footer-text-color: #f7f7f6;
// $background-color: #f5f5f5;
// $footer-background-color: #24282b;
// $form-background-color: #eeeeed;
// $icon-disable:#c7c9c6;
// $time: 250ms;

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 120px auto;
}

.gallery__title {
  font-family: 'Mabry Pro';
  font-weight: 500;
  font-size: 20px;
  line-height: calc(32 / 20);
  letter-spacing: 5px;

  margin-bottom: 48px;

  text-align: center;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: calc(32 / 24);
    letter-spacing: 15px;

    margin-bottom: 56px;
  }

  @media screen and (min-width: $laptop) {
    letter-spacing: 29px;

    margin-bottom: 80px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 1758px;
}

.swiper-arrows-wrapper {
  position: relative;
}
