.header {
  max-width: 1920px;
  background-color: $current-color;
}

.logo {
  display: block;
  margin-right: 184px;
}

.logo_img {
  background-color: green;
}

.header_container {
  display: flex;
  align-items: center;
  padding-top: 75px;
}

.nav__list {
  display: flex;
  gap: 144px;
  align-items: center;
  margin-right: 144px;
}

.tel_link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
