
*, 
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: 0;
}
a {
    text-decoration: none;
    display: block;
    color: inherit;
  }

li, ul, ol{
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
} 
h1,h2,h3,h4 {
  font-weight: inherit;
  font-size: inherit;
  
} 

svg {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
  }