<section class="abonement">
  <div class="abonement-container container">
    <h2 class="abonement_title">АБОНЕМЕНТИ</h2>

    <ul class="abonement_grid">
      <li class="abonevent_variant">
        <div class="abonement_card">
          <p class="abonement_info">
            Пробне <br />
            заняття
          </p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">160 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <p class="abonement_info">
            Разове <br />
            заняття
          </p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">160 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <p class="abonement_info">4 заняття</p>
          <p class="abonement_day">Термін дії - 30 днів</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">550 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <p class="abonement_info">8 занять</p>
          <p class="abonement_day">Термін дії - 30 днів</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">950 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <p class="abonement_info">12 занять</p>
          <p class="abonement_day">Термін дії - 30 днів</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">1200 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <p class="abonement_info">Безлім</p>
          <p class="abonement_day">Термін дії - 30 днів</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">1500 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>
    </ul>
  </div>
</section>
