<section class="abonement">
  <div class="abonement-container container">
    <h2 class="abonement_title">АБОНЕМЕНТИ</h2>

    <ul class="abonement_grid">

      <li class="abonevent_variant">
        <div class="abonement_card">
          <svg class="abonement-icon">
            <use href="./images/icons/sprite368.svg#icon-1ellipse" width="100%" heigth="100%"></use>
          </svg>
          <p class="abonement_info">Пробне <br> заняття</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">160 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <svg class="abonement-icon">
            <use href="./images/icons/sprite368.svg#icon-2ellipse" width="100%" heigth="100%"></use>
          </svg>
          <p class="abonement_info">Разове <br> заняття</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">160 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <svg class="abonement-icon">
            <use href="./images/icons/sprite368.svg#icon-3ellipse" width="100%" heigth="100%"></use>
          </svg>
          <p class="abonement_info">4 заняття</p>
          <p class="abonement_day">Термін дії - 30 днів</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">550 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <svg class="abonement-icon">
            <use href="./images/icons/sprite368.svg#icon-4ellipse" width="100%" heigth="100%"></use>
          </svg>
          <p class="abonement_info">8 занять</p>
          <p class="abonement_day">Термін дії - 30 днів</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">950 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <svg class="abonement-icon">
            <use href="./images/icons/sprite368.svg#icon-5ellipse" width="100%" heigth="100%"></use>
          </svg>
          <p class="abonement_info">12 занять</p>
          <p class="abonement_day">Термін дії - 30 днів</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">1200 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>

      <li class="abonevent_variant">
        <div class="abonement_card">
          <svg class="abonement-icon">
            <use href="./images/icons/sprite368.svg#icon-6ellipse" width="100%" heigth="100%"></use>
          </svg>
          <p class="abonement_info">Безлім</p>
          <p class="abonement_day">Термін дії - 30 днів</p>
        </div>
        <div class="abonement_buy">
          <p class="abonement_price">1500 грн</p>
          <button class="abonement_btn">купити</button>
        </div>
      </li>
    </ul>


  </div>
</section>