<section id="schedule" class="schedule">
  <div class="container">
    <h2 class="schedule-title">РОЗКЛАД</h2>
    <ul class="schedule-list">
      <li class="schedule-item">
        <div class="svg-wrapper">
          <svg class="schedule-svg" width="100" height="100">
            <use href="./images/icons/schedule-sprite.svg#monday">ПН</use>
          </svg>
          <span class="schedule-svg-text">ПН</span>
        </div>
        <ul class="schedule-item-list" data-id="ПН">
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">18:00</span
              ><span class="schedule-name">Funbarr</span>
            </p>
          </li>
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">19:00</span
              ><span class="schedule-name">Stretching</span>
            </p>
          </li>
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">20:00</span
              ><span class="schedule-name">Hot spot</span>
            </p>
          </li>
        </ul>
      </li>
      <li class="schedule-item">
        <div class="svg-wrapper">
          <svg class="schedule-svg" width="100" height="100">
            <use href="./images/icons/schedule-sprite.svg#tuesday">ВТ</use>
          </svg>
          <span class="schedule-svg-text">ВТ</span>
        </div>
        <ul class="schedule-item-list" data-id="ВТ">
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">8:00</span
              ><span class="schedule-name">Stretching</span>
            </p>
          </li>
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">9:00</span
              ><span class="schedule-name">Hot spot</span>
            </p>
          </li>
        </ul>
      </li>
      <li class="schedule-item">
        <div class="svg-wrapper">
          <svg class="schedule-svg" width="100" height="100">
            <use href="./images/icons/schedule-sprite.svg#wednesday">СР</use>
          </svg>
          <span class="schedule-svg-text">СР</span>
        </div>
        <ul class="schedule-item-list" data-id="СР">
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">18:00</span
              ><span class="schedule-name">Hot spot</span>
            </p>
          </li>
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">19:00</span
              ><span class="schedule-name">Hot Stretching</span>
            </p>
          </li>
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">20:00</span
              ><span class="schedule-name">Functional+</span>
            </p>
          </li>
        </ul>
      </li>
      <li class="schedule-item">
        <div class="svg-wrapper">
          <svg class="schedule-svg" width="100" height="100">
            <use href="./images/icons/schedule-sprite.svg#thursday">ЧТ</use>
          </svg>
          <span class="schedule-svg-text">ЧТ</span>
        </div>
        <ul class="schedule-item-list" data-id="ЧТ">
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">8:00</span
              ><span class="schedule-name">Funbarr</span>
            </p>
          </li>
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">9:00</span
              ><span class="schedule-name">Hot Stretching</span>
            </p>
          </li>
        </ul>
      </li>
      <li class="schedule-item">
        <div class="svg-wrapper">
          <svg class="schedule-svg" width="100" height="100">
            <use href="./images/icons/schedule-sprite.svg#friday">ПТ</use>
          </svg>
          <span class="schedule-svg-text">ПТ</span>
        </div>
        <ul class="schedule-item-list" data-id="ПТ">
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">18:00</span
              ><span class="schedule-name">Functional+</span>
            </p>
          </li>
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">19:00</span
              ><span class="schedule-name">Stretching</span>
            </p>
          </li>
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">20:00</span
              ><span class="schedule-name">Funbarr</span>
            </p>
          </li>
        </ul>
      </li>
      <li class="schedule-item">
        <div class="svg-wrapper">
          <svg class="schedule-svg" width="100" height="100">
            <use href="./images/icons/schedule-sprite.svg#saturday">СБ</use>
          </svg>
          <span class="schedule-svg-text">СБ</span>
        </div>
        <ul class="schedule-item-list" data-id="СБ">
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">10:00</span
              ><span class="schedule-name">Hot spot</span>
            </p>
          </li>
          <li class="schedule-list-item">
            <p class="schedule-item-text">
              <span class="schedule-time">11:00</span
              ><span class="schedule-name">Hot stretching</span>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
