<footer class="footer">
  <div class="footer-container">

    <div class="footer-map">
      <picture>
        <source 
          @media="(min-width: 1920px)"
          srcset="./images/map1440@1x.png 1x, ./images/map1440@2x.png 2x"
        />
        <source 
          @media="(min-width: 1440px)"
          srcset="./images/map1440@1x.png 1x, ./images/map1440@2x.png 2x"
        />
        <source 
          @media="(min-width: 768px)"
          srcset="./images/map768@1x.png 1x, ./images/map768@2x.png 2x"
         />
        <source
          @media="(min-width: 390px)"
          srcset="./images/map390@1x.png 1x, ./images/map390@2x.png 2x" 
        />
       <a href="">
        <img src="./images/map390@1x.png" alt="map" width="100%" height="100%">
      </a> 
      </picture>
    </div>
    <div class="footer-contact">
      <div class="footer-adress">
        <ul class="footer-adress_list">
          <li class="footer-adress_items">
            <p>м.Вишгород</p>
          </li>
          <li class="footer-adress_items">
            <p>вул. Шевченка 2Д</p>
          </li>
          <li class="footer-adress_items">
            <p><a href="tel:+380994213644">+38099 421 36 44</a></p>
          </li>
          <li class="footer-adress_items">
            <p><a href="mailto:grafitworkout@gmail.com">grafitworkout@gmail.com</a></p>
          </li>
        </ul>
      </div>
      
      <div class="footer-icons">
        <a class="footer-icon_items" href="https://www.facebook.com/grafit.fitnessvyshorod" aria-label="facebook icon">
          <svg class="footer-icon">
            <use href="./images/icons/sprite.svg#icon-fb" ></use>
          </svg>
        </a>
        <a class="footer-icon_items" href="https://instagram.com/grafit_workout?igshid=ZWIzMWE5ZmU3Zg==" aria-label="instagram icon">
          <svg class="footer-icon">
            <use href="./images/icons/sprite.svg#icon-instagram" ></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

