
<footer class="footer" >
  <div class="footer-container container">
    <div class="footer-map">
      <a href="https://maps.app.goo.gl/wXFjqQV4PtYURDxM6?g_st=it" 
          target="_blank" rel="noopener noreferrer nofollow">
        <picture>
          <source type="image/png"
            media="(min-width: 1920px)"
            srcset="./images/map1920@1x.png, ./images/map1920@2x.png 2x"
            sizes="(min-width: 1920px) 302px, 100vw"
          >
          <source type="image/png"
            media="(min-width: 1440px)"
            srcset="./images/map1440@1x.png, ./images/map1440@2x.png 2x"
            sizes="(min-width: 1440px) 302px, 100vw"
          >
          <source type="image/png"
            media="(min-width: 768px)"
            srcset="./images/map768@1x.png, ./images/map768@2x.png 2x"
            sizes="(min-width: 768px) 159px, 100vw"
          >
          <source type="image/png"
            media="(min-width: 390px)"
            srcset="./images/map390@1x.png, ./images/map390@2x.png 2x"
            sizes="(min-width: 390px) 113px, 100vw" 
          >
          <img src="./images/map390@1x.png" alt="map" width="100%" height="100%">
       
        </picture>
      </a>
    </div>

    <div class="footer-contact">
      <div class="footer-adress">
        <ul class="footer-adress_list">
          <li class="footer-adress_items">
            <p>м.Вишгород</p>
          </li>
          <li class="footer-adress_items">
            <p>вул. Шевченка 2Д</p>
          </li>
          <li class="footer-adress_items">
            <a href="tel:+380994213644">+38099 421 36 44</a>
          </li>
          <li class="footer-adress_items">
            <a href="mailto:grafitworkout@gmail.com">grafitworkout@gmail.com</a>
          </li>
        </ul>
      </div>

      <div class="footer-icons">
        <a class="footer-icon_items" href="https://www.facebook.com/grafit.fitnessvyshorod" aria-label="facebook icon"
          target="_blank" rel="noopener noreferrer nofollow">
          <svg class="footer-icon">
            <use href="./images/icons/sprite.svg#icon-fb"></use>
          </svg>
        </a>
        <a class="footer-icon_items" href="https://instagram.com/grafit_workout?igshid=ZWIzMWE5ZmU3Zg=="
          aria-label="instagram icon" target="_blank" rel="noopener noreferrer nofollow">
          <svg class="footer-icon">
            <use href="./images/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>