<footer class="footer">
  <div class="container footer-container">
 footer
    <div class="footer-map">
      <picture>
       <a href="">
        <img src="./images/image390.png"
          srcset="./images/image390.png 1x,
          ./images/map768.png 2x,
          ./images/map1440.png 3x" alt="map">
      </a> 
      </picture>
    </div>
    <div class="footer-contact">
      <div class="footer-adress">
        <ul class="footer-adress_list">
          <li class="footer-adress_items">
            <p>м.Вишгород</p>
          </li>
          <li class="footer-adress_items">
            <p>вул. Шевченка 2Д</p>
          </li>
          <li class="footer-adress_items">
            <p><a href="tel:+380994213644">+38099 421 36 44</a></p>
          </li>
          <li class="footer-adress_items">
            <p><a href="mailto:grafitworkout@gmail.com">grafitworkout@gmail.com</a></p>
          </li>
        </ul>
      </div>
      
      <div class="footer-icon">
        <a class="footer-icon_items" href="https://www.facebook.com/grafit.fitnessvyshorod">
          <svg class="footer-icon">
            <use href="./images/icons/sprite.svg#icon-fb" width="25px" height="25px"></use>
          </svg>
        </a>
        <a class="footer-icon_items" href="https://instagram.com/grafit_workout?igshid=ZWIzMWE5ZmU3Zg==">
          <svg class="footer-icon">
            <use href="./images/icons/sprite.svg#icon-instagram" width="25px" height="25px"></use>
          </svg>
        </a>
      </div>
    </div>

  </div>
</footer>

