<section class="send-form">
  <div class="container">
    <div class="wrapper">
      <div class="box">
        <div class="form-box">
          <h2 class="form-title">ЗАПИС</h2>
          <form class="form" id="contact-form">
            <label class="form-label"
              >Ім’я:
              <input class="form-input" type="text" name="name" required />
            </label>
            <label class="form-label"
              >Тел:
              <input
                class="form-input"
                type="number"
                name="phone"
                id="phone"
                required
              />
            </label>
            <label class="form-label"
              >Тренування:
              <input class="form-input" type="text" name="training" required />
            </label>
            <label class="form-label"
              >Дата:
              <input
                class="form-input"
                type="date"
                name="date"
                id="date"
                required
              />
            </label>
            <label class="form-label"
              >E-mail:
              <input
                class="form-input"
                type="email"
                name="email"
                id="email"
                required
              />
            </label>
            <p class="form-error-message"></p>
            <p class="form-note">*ми обіцяємо не спамити</p>
            <button class="form-btn" type="submit">тренуватись</button>
          </form>
        </div>
        <div class="form-img">
          <picture class="form-picture">
            <source
              media="(min-width: 1920px)"
              srcset="
                ./images/image1920@1x.webp 1x,
                ./images/image1920@2x.webp 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/image1440@1x.webp 1x,
                ./images/image1440@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/image768@1x.webp 1x,
                ./images/image768@2x.webp 2x
              "
            />
            <img
              class="img"
              src="./images/image768@1x.webp"
              alt="sport motivation"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </div>
      <div class="backdrop is-hidden" data-modal>
        <div class="modal-wrapper">
          <button class="icon-wrapper is-hidden" data-modal-close>
            <svg class="form-icon-close" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <div class="form-message is-hidden" data-resolve>
            <p class="from-modal-text" data-resolve>Дякуємо за замовлення!</p>
            <p class="from-modal-text">
              Ми зв’яжемось з вами найближчим часом.
            </p>
          </div>
          <div class="form-message is-hidden" data-error>
            <div>
              <svg class="icon-error" width="32" height="32">
                <use href="./images/icons/sprite.svg#icon-error"></use>
              </svg>
            </div>
            <p class="from-modal-text">Упс...Щось пішло не так.</p>
            <p class="from-modal-text">
              Зателефонуйте нам або спробуйте пізніше.
            </p>
          </div>
          <div class="preloader is-hidden" data-spiner>
            <svg
              class="preloader__image"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
