<section id="gallery" class="gallery section">
  <h2 class="gallery__title">ГАЛЕРЕЯ</h2>
  <div class="swiper-arrows-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper" style="position: static">
        <div class="swiper-slide">
          <picture>
            <source srcset="./images/gallery/desc/img-1.webp" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="./images/gallery/desc/img-1.jpg x1, ./images/gallery/desc/img-1@2.jpg 2x"
              media="(min-width: 1920px)" type="image/jpeg" />

            <source srcset="./images/gallery/laptop/img-1.webp" media="(min-width: 1440px)" type="image/webp" />
            <source srcset="./images/gallery/laptop/img-1.jpg x1, ./images/gallery/laptop/img-1@2.jpg 2x"
              media="(min-width: 1440px)" type="image/jpeg" />

            <source srcset="./images/gallery/tablet/img-1.webp" media="(min-width: 768px)" type="image/webp" />
            <source srcset="./images/gallery/tablet/img-1.jpg x1, ./images/gallery/tablet/img-1@2.jpg 2x"
              media="(min-width: 768px)" type="image/jpeg" />

            <source srcset="./images/gallery/mob/img-1.jpg x1, ./images/gallery/mob/img-1@2.jpg 2x" type="image/jpeg" />

            <img src="./images/gallery/mob/img-1.jpg" alt="Частина заняття у спортзалі Grafit" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/gallery/desc/img-2.webp" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="./images/gallery/desc/img-2.jpg x1, ./images/gallery/desc/img-2@2.jpg 2x"
              media="(min-width: 1920px)" type="image/jpeg" />

            <source srcset="./images/gallery/laptop/img-2.webp" media="(min-width: 1440px)" type="image/webp" />
            <source srcset="./images/gallery/laptop/img-2.jpg x1, ./images/gallery/laptop/img-2@2.jpg 2x"
              media="(min-width: 1440px)" type="image/jpeg" />

            <source srcset="./images/gallery/tablet/img-2.webp" media="(min-width: 768px)" type="image/webp" />
            <source srcset="./images/gallery/tablet/img-2.jpg x1, ./images/gallery/tablet/img-2@2.jpg 2x"
              media="(min-width: 768px)" type="image/jpeg" />

            <source srcset="
                ./images/gallery/mob/img-2.jpg   1x,
                ./images/gallery/mob/img-2@2.jpg 2x
              " type="image/jpeg" />

            <img src="./images/gallery/mob/img-2.jpg" alt="Частина заняття у спортзалі Grafit" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/gallery/desc/img-3.webp" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="
                ./images/gallery/desc/img-3.jpg   1x,
                ./images/gallery/desc/img-3@2.jpg 2x
              " media="(min-width: 1920px)" type="image/jpeg" />

            <source srcset="./images/gallery/laptop/img-3.webp" media="(min-width: 1440px)" type="image/webp" />
            <source srcset="
                ./images/gallery/laptop/img-3.jpg   1x,
                ./images/gallery/laptop/img-3@2.jpg 2x
              " media="(min-width: 1440px)" type="image/jpeg" />

            <source srcset="./images/gallery/tablet/img-3.webp" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/gallery/tablet/img-3.jpg   1x,
                ./images/gallery/tablet/img-3@2.jpg 2x
              " media="(min-width: 768px)" type="image/jpeg" />

            <source srcset="
                ./images/gallery/mob/img-3.jpg   1x,
                ./images/gallery/mob/img-3@2.jpg 2x
              " type="image/jpeg" />

            <img src="./images/gallery/mob/img-3.jpg" alt="Частина заняття у спортзалі Grafit" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/gallery/desc/img-4.webp" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="
                ./images/gallery/desc/img-4.jpg   1x,
                ./images/gallery/desc/img-4@2.jpg 2x
              " media="(min-width: 1920px)" type="image/jpeg" />

            <source srcset="./images/gallery/laptop/img-4.webp" media="(min-width: 1440px)" type="image/webp" />
            <source srcset="
                ./images/gallery/laptop/img-4.jpg   1x,
                ./images/gallery/laptop/img-4@2.jpg 2x
              " media="(min-width: 1440px)" type="image/jpeg" />

            <source srcset="./images/gallery/tablet/img-4.webp" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/gallery/tablet/img-4.jpg   1x,
                ./images/gallery/tablet/img-4@2.jpg 2x
              " media="(min-width: 768px)" type="image/jpeg" />

            <source srcset="
                ./images/gallery/mob/img-4.jpg   1x,
                ./images/gallery/mob/img-4@2.jpg 2x
              " type="image/jpeg" />

            <img src="./images/gallery/mob/img-4.jpg" alt="Частина заняття у спортзалі Grafit" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/gallery/desc/img-5.webp" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="
                ./images/gallery/desc/img-5.jpg   1x,
                ./images/gallery/desc/img-5@2.jpg 2x
              " media="(min-width: 1920px)" type="image/jpeg" />

            <source srcset="./images/gallery/laptop/img-5.webp" media="(min-width: 1440px)" type="image/webp" />
            <source srcset="
                ./images/gallery/laptop/img-5.jpg   1x,
                ./images/gallery/laptop/img-5@2.jpg 2x
              " media="(min-width: 1440px)" type="image/jpeg" />

            <source srcset="./images/gallery/tablet/img-5.webp" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/gallery/tablet/img-5.jpg   1x,
                ./images/gallery/tablet/img-5@2.jpg 2x
              " media="(min-width: 768px)" type="image/jpeg" />

            <source srcset="
                ./images/gallery/mob/img-5.jpg   1x,
                ./images/gallery/mob/img-5@2.jpg 2x
              " type="image/jpeg" />

            <img src="./images/gallery/mob/img-5.jpg" alt="Частина заняття у спортзалі Grafit" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/gallery/desc/img-6.webp" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="
                ./images/gallery/desc/img-6.jpg   1x,
                ./images/gallery/desc/img-6@2.jpg 2x
              " media="(min-width: 1920px)" type="image/jpeg" />

            <source srcset="./images/gallery/laptop/img-6.webp" media="(min-width: 1440px)" type="image/webp" />
            <source srcset="
                ./images/gallery/laptop/img-6.jpg   1x,
                ./images/gallery/laptop/img-6@2.jpg 2x
              " media="(min-width: 1440px)" type="image/jpeg" />

            <source srcset="./images/gallery/tablet/img-6.webp" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/gallery/tablet/img-6.jpg   1x,
                ./images/gallery/tablet/img-6@2.jpg 2x
              " media="(min-width: 768px)" type="image/jpeg" />

            <source srcset="
                ./images/gallery/mob/img-6.jpg   1x,
                ./images/gallery/mob/img-6@2.jpg 2x
              " type="image/jpeg" />

            <img src="./images/gallery/mob/img-6.jpg" alt="Частина заняття у спортзалі Grafit" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/gallery/desc/img-7.webp" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="
                ./images/gallery/desc/img-7.jpg   1x,
                ./images/gallery/desc/img-7@2.jpg 2x
              " media="(min-width: 1920px)" type="image/jpeg" />

            <source srcset="./images/gallery/laptop/img-7.webp" media="(min-width: 1440px)" type="image/webp" />
            <source srcset="
                ./images/gallery/laptop/img-7.jpg   1x,
                ./images/gallery/laptop/img-7@2.jpg 2x
              " media="(min-width: 1440px)" type="image/jpeg" />

            <source srcset="./images/gallery/tablet/img-7.webp" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/gallery/tablet/img-7.jpg   1x,
                ./images/gallery/tablet/img-7@2.jpg 2x
              " media="(min-width: 768px)" type="image/jpeg" />

            <source srcset="
                ./images/gallery/mob/img-7.jpg   1x,
                ./images/gallery/mob/img-7@2.jpg 2x
              " type="image/jpeg" />

            <img src="./images/gallery/mob/img-7.jpg" alt="Частина заняття у спортзалі Grafit" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/gallery/desc/img-8.webp" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="
                ./images/gallery/desc/img-8.jpg   1x,
                ./images/gallery/desc/img-8@2.jpg 2x
              " media="(min-width: 1920px)" type="image/jpeg" />

            <source srcset="./images/gallery/laptop/img-8.webp" media="(min-width: 1440px)" type="image/webp" />
            <source srcset="
                ./images/gallery/laptop/img-8.jpg   1x,
                ./images/gallery/laptop/img-8@2.jpg 2x
              " media="(min-width: 1440px)" type="image/jpeg" />

            <source srcset="./images/gallery/tablet/img-8.webp" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/gallery/tablet/img-8.jpg   1x,
                ./images/gallery/tablet/img-8@2.jpg 2x
              " media="(min-width: 768px)" type="image/jpeg" />

            <source srcset="
                ./images/gallery/mob/img-8.jpg   1x,
                ./images/gallery/mob/img-8@2.jpg 2x
              " type="image/jpeg" />

            <img src="./images/gallery/mob/img-8.jpg" alt="Частина заняття у спортзалі Grafit" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/gallery/desc/img-9.webp" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="
                ./images/gallery/desc/img-9.jpg   1x,
                ./images/gallery/desc/img-9@2.jpg 2x
              " media="(min-width: 1920px)" type="image/jpeg" />

            <source srcset="./images/gallery/laptop/img-9.webp" media="(min-width: 1440px)" type="image/webp" />
            <source srcset="
                ./images/gallery/laptop/img-9.jpg   1x,
                ./images/gallery/laptop/img-9@2.jpg 2x
              " media="(min-width: 1440px)" type="image/jpeg" />

            <source srcset="./images/gallery/tablet/img-9.webp" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/gallery/tablet/img-9.jpg   1x,
                ./images/gallery/tablet/img-9@2.jpg 2x
              " media="(min-width: 768px)" type="image/jpeg" />

            <source srcset="
                ./images/gallery/mob/img-9.jpg   1x,
                ./images/gallery/mob/img-9@2.jpg 2x
              " type="image/jpeg" />

            <img src="./images/gallery/mob/img-9.jpg" alt="Частина заняття у спортзалі Grafit" />
          </picture>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>