<header class="header">
    <div class="header_container container">
        <a class="logo">
            <img class="logo_img" src="./images/logo.svg" alt="logo">
        </a>

        <nav class="nav">
            <ul class="nav_list">
                <li class="nav__item">
                    <a href="/src/index.html" class="nav__link">Тренування</a>
                </li>
                <li class="nav__item">
                    <a href="#workout" class="nav__link">Розклад</a>
                </li>
                <li class="nav__item">
                    <a href="#abonements" class="nav__link">Абонементи</a>
                </li>
                <li class="nav__item">
                    <a href="#gallery" class="nav__link">Галерея</a>
                </li>
                <li class="nav__item">
                    <a href="#footer" class="nav__link">Контакти</a>
                </li>
            </ul>
        </nav>

        <a class="tel_link" href="tel:+380994213644">+38099 421 36 44</a>

        <button class="menu-toggle js-open-menu" aria-expanded="false">
            <svg width="52" height="22">
                <use href="./images/icons/sprite.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>