<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle btn-close js-close-menu">
        <svg class="modal_svg menu-toggle__icon" width="24" height="24">
            <use href="./images/icons/sprite.svg#icon-close"></use>
        </svg>
    </button>

    <ul class="mobile-menu nav__list">
        <li class="mobile-menu-item nav__item">
            <a href="/src/index.html" class="mobile-menu-link nav__link">Тренування</a>
        </li>
        <li class="mobile-menu-item nav__item">
            <a href="#workout" class="mobile-menu-link nav__link">Розклад</a>
        </li>
        <li class="mobile-menu-item nav__item">
            <a href="#abonements" class="mobile-menu-link nav__link">Абонементи</a>
        </li>
        <li class="mobile-menu-item nav__item">
            <a href="#gallery" class="mobile-menu-link nav__link">Галерея</a>
        </li>
        <li class="mobile-menu-item nav__item">
            <a href="#footer" class="mobile-menu-link nav__link">Контакти</a>
        </li>
    </ul>

    <a class="modal_tel_link" href="tel:+380994213644">+38099 421 36 44</a>
</div>