<section class="workout_section" id="workout">
    <div class="container">
        <h2 class="workout-title">ТРЕНУВАННЯ</h2>
        <ul class="workout-list">
            <li class="workout-item">
                <div class="funbarr-img">
                </div>

                <div class="text_wrapper funbarr left-side">
                    <h3 class="workout-subtitle">FUNBARR</h3>
                    <p class="workout-text">Функціональний фітнес з елементами класичної хореографії. Складається з
                        статичних та динамічних
                        вправ невисокої
                        інтенсивності. Підходить для тих хто давно не займався спортом, або тільки розпочинає свій шлях
                        у фітнесі.</p>
                </div>
            </li>

            <li class="workout-item">
                <div class="functional-img">
                </div>

                <div class="text_wrapper functional right-side">
                    <h3 class="workout-subtitle">FUNCTIONAL+</h3>
                    <p class="workout-text">Інтенсивний клас, у якому задіюються всі м’язи та функціональні можливості
                        організму. Під час
                        тренування
                        використовується платформа, яка допомагає збільшити навантаження під час виконання вправ.</p>
                </div>
            </li>

            <li class="workout-item">
                <div class="hotspot-img">
                </div>

                <div class="text_wrapper hotspot left-side">
                    <h3 class="workout-subtitle">HOT SPOT</h3>
                    <p class="workout-text">Колове функціональне тренування, навантажує всі групи м’язів, гарно тренує
                        витривалість,
                        серцево-судинну систему, швидкість та координацію.</p>
                </div>
            </li>

            <li class="workout-item">
                <div class="stretching-img">
                </div>

                <div class="text_wrapper stretching right-side">
                    <h3 class="workout-subtitle">STRETCHING</h3>
                    <p class="workout-text">Розтягнення м’язів та зв’язок, відкриття та збільшення рухливості суглобів,
                        робота над поставою.
                        Сприяє покращенню
                        кровообігу, зняття напруги з мязів, збільшенню гнучкості тіла.</p>
                </div>
            </li>

            <li class="workout-item">
                <div class="hotstretching-img">
                </div>

                <div class="text_wrapper hotstretching left-side">
                    <h3 class="workout-subtitle">HOT STRETCHING</h3>
                    <p class="workout-text">Розтяжка, яка змушує потіти. Клас складається з розігріву та стретчингу.
                        Включає динамічну та
                        пасивну розтяжку.
                        Підходить для тих хто хоче робити фото на шпагатах.</p>
                </div>
            </li>
        </ul>
    </div>
</section>